@font-face {
	font-family: "ITC Eras Light";
	src: url('itc-eras-light.woff') format('woff');
}

.opacity--0 {
	opacity: 0;
}

.opacity--1 {
	opacity: 1;
}

.visibility--hidden {
	visibility: hidden;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #222;
	color: #fff;
	font-family: "ITC Eras Light", helvetica, sans-serif;
	font-size: 20px;
}

.art-dash__main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative
}

.art-dash__container {
	background: #222;
	width: calc(100% - 200px);
	height: calc(100% - 200px);
	transition: all 1.5s ease;
	display: flex;
}

.artwork {
	height: 100%;
	flex: 1 1 auto;
	max-width: calc(100% - 400px);
}

.artwork__image {
	max-width: 100%;
	max-height: 100%;
	outline: 1px solid #fff;
}

.artwork__info {
	height: 40px;
	line-height: 40px;
	color: #666;
}

.data {
	flex: 0 0 400px;
	position: relative;
}

.data__1 {
	position: absolute;
	top: 100px;
	left: 20px;
	font-size: 200px;
	line-height: 200px;
	word-break: break-all;
	color: #666;
}

.data__2 {
	position: absolute;
	top: 220px;
	left: 160px;
	font-size: 40px;
	line-height: 40px;
	color: #fff;
}
