@font-face {
	font-family: "ITC Eras Light";
	src: url('itc-eras-light.woff') format('woff');
}

.opacity--0 {
	opacity: 0;
}

.opacity--1 {
	opacity: 1;
}

.visibility--hidden {
	visibility: hidden;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #333;
	color: #fff;
	font-family: "ITC Eras Light", helvetica, sans-serif;
	font-size: 20px;
}

.art-dash__container {
	height: 100%;
	padding: 100px;
	overflow: hidden;
	text-align: center;
	transition: all 1.5s ease;
}

.artwork__image {
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	outline: 1px solid #fff;
}

.artwork__info {
	height: 40px;
	line-height: 40px;
	color: #999;
}

/*.data__1 {*/
	/*position: absolute;*/
	/*top: 20px;*/
	/*right: 40px;*/
	/*font-size: 200px;*/
	/*line-height: 200px;*/
	/*max-width: 400px;*/
	/*word-break: break-all;*/
	/*color: #666;*/
/*}*/

/*.data__2 {*/
	/*position: absolute;*/
	/*top: 140px;*/
	/*right: 140px;*/
	/*max-width: 200px;*/
	/*font-size: 40px;*/
	/*line-height: 40px;*/
	/*color: #fff;*/
/*}*/
